/* start varibles */
:root{
    --min-color:#19c8fa;
    --transparent-color:rgb(15 116 143 / 70%);
    --section-padding:100px;
}
/* end varibles */
/* srart globle rules  */
*{
   --webkit-box-sizing: border-box;
   --moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Open Sans", sans-serif;
}
ul{
    list-style: none;;
}
.container{
    padding-left: 15px ;
    padding-right: 15px ;
    margin-left: auto;
    margin-right: auto;
    min-height: 97px;
}
/* small screen */
@media(min-width:768px){
    .container{
        width: 750px;
    }
}
/* medium screen */
@media(min-width:992px){
    .container{
        width: 970px;
    }
}
/* large screen */
@media(min-width:1200px){
    .container{
        width: 1170px;
    }
}
/* end globle rules  */
/* start component */
.main-heading{
  text-align: center;
}
.main-heading h2{
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 50px;
  text-transform: uppercase;
  position: relative;
}
.main-heading h2::after{
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  left: 50%;
  transform: translateX(-10px);
  bottom: -25px;
  background: white;
}
.main-heading h2::before{
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  width: 130px;
  height: 2px;
  bottom: -15px;
}
.main-heading p{
  width: 500px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: #777;
}
/* end component */
  /* start header */
  header{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
  }
 header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  header .container::after{
    content: "";
    position: absolute;
    bottom: -3px;
    width: calc(100% - 30px);
    height: 1px;
    color: white;
    background-color: #a2a2a2;
    left: 15px;

  }
header .logo img {
    height: 35px;
  }
  h2{
    margin-top: 20px;
    margin-left: 5px;
    font-size: 20px;
  }
 header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  header nav ul {
    display: flex;
  }
  @media(max-width: 767px){
    header nav ul{
        display: none;
    }
    header nav .main-class:hover + ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
       background-color: hsl(0, 0%, 0% / 70%);
    }
    header nav .main-class:hover + ul li a{
        padding: 15px;
    }
  }
  header nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 40px 10px;
    font-size: 14px;
    transition: .3s;
    position: relative;
    z-index: 3;
  }
  header nav .main-class{
    color: white;
    height: 30px;
    width: 40px;
    font-size: 25px;
  }
  @media(min-width: 767px){
    header nav .main-class{
        display: none;
    }
  }

  header nav ul li .active,
  header nav ul li a:hover{
    color: var(--min-color);
    border-bottom: 2px solid var(--min-color);
    margin-top: -5px;
  }
  header nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    border-left: 1px solid white;
    margin-left: 20px;
  }
  header nav .form i {
    position: absolute;
    color: aliceblue;
    font-size: 20px;
    transform: translateY(40%);
    right: 0;
  }

  /* end header */
  /* start landing */
  .landing{
    min-height: 100vh;
    background-color: rgba(12, 2, 2, 0.146);
    background-image: url("../images/landing.jpg");
    background-size: cover;
    position: relative;
  }
  .landing .overlying {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(0 0 0 60%);
  }
  .landing .text {
    color: #b5e8dd;
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--transparent-color);
    padding: 50px;
    display: flex;
    justify-content: end;
  }
  .landing .text .content {
    max-width: 500px;
  }
  @media(max-width:767px){
    .landing .text{
      width: 100%;
    }
    .landing .text .content{
      width: 100%;
    }
  }
  .landing .text .content h2 {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  .landing .text .content p{
    line-height: 2;
    font-size: 14px;
  }
  .landing .chang-back{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;
  }
  @media(max-width:767px){
    .landing .chang-back{
      display: none;
    }
  }
  .landing .fa-angle-right{
    right: 30px;
  }
  .landing .fa-angle-left{
    left: 30px;
  }
  .landing .bulest{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  .landing .bulest ul {
    display: flex;
  }
  .landing .bulest li{
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
  }
  .landing .bulest li.active {
    background-color: var(--min-color);
    border-color: var(--min-color);
  }
  /* end landing */
  /* start ervices */
  .servcies{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
  }
  @media(min-width:767px){
    .servcies .services-container{
      display: grid;
      grid-template-columns: repeat(auto-fill , minmax( 450px , 1fr));
      grid-column-gap: 30px;
      grid-row-gap: 60px;
    }
  }
  .servcies .srv{
   display: flex; 
   justify-content: space-between;
  }
  @media(max-width:767px){
    .servcies .srv{
     display: flex;
     flex-direction: column;
     text-align: center;
    }
    .servcies .srv{
      margin-top: 20px;
    }
  }
  .servcies .srv i{
    margin-right: 30px;
  }
  .servcies .srv h2{
    margin-bottom: 30px;
    color: var(--min-color)
  }
  .servcies .srv p{
    color: #333;
  }
  /* end Services */
  /* START DESIGN */
  .design{
    margin-top: var(--section-padding);
    margin-bottom: var(--section-padding);
    height: 600px;
    position: relative;
    display: flex;
    background: url("../images/design-features.jpg");
    background-size: cover;
    align-items: center;
    overflow: hidden;
  }
.design::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgb(0 0 0 60%);
 
}
.design .image,
.design .text{
  position: relative;
  z-index: 2;
  flex: 1;
}
.design .image img {
  position: relative;
  bottom: -125px;
}
@media(max-width:767px){
  .design .image img{
    display: none;
  }
}
.design .text{
  color: rgb(255, 255, 255);
  padding: 50px;
  background-color: var(--transparent-color);
}  
.design .text h2{
  margin-bottom: 30px;
}
.design .text ul li{
 padding: 15px 0;
}
.design .text ul li::before{
  font-family: "Font Awesome 5 free";
  content: "\f108";
  font-weight: 900;
  margin-right: 10px;
}
  /* END DESIGN */
  /* start portoflio */
  .portoflio{
    margin-top: var(--section-padding);
    margin-bottom: var(--section-padding);
  }
  .portoflio .shuffle{
     display: flex;
     justify-content: center;
     margin-bottom: 20px;
  }
  .portoflio .shuffle  li{
    margin-right: 10px;
    border: 1px solid #666565;
    padding: 10px;
  }
  .portoflio .shuffle  li:hover{
    background-color: var(--min-color);
    color: white;
  }
  .portoflio .shuffle  li.active{
    background-color: var(--min-color);
    border-color: var(--min-color);
    color: white;
  }
  .images-container{
  display: flex;
  flex-wrap: wrap;
  }
  .images-container .box{
    flex-basis: 25%;
    position: relative;
    overflow: hidden;
  }
  @media(max-width:767px){
    .images-container .box{
      flex-basis: 100%;
    }
  }
  @media(min-width:767px){
    .images-container .box{
      flex-basis: 50%;
    }
  }
  @media(min-width:1199px){
    .images-container .box{
      flex-basis: 25%;
    }
  }
  .images-container .box img{
    max-width: 100%;
    transition: .3s;
  }
  .images-container .box .caption{
    position: absolute;
    left: 0;
    padding: 20px;
    width: 100%;
    bottom: -100%;
    background: white;
    transition: .3s;
  }
  .images-container .box:hover .caption{
  bottom: 0;
  }
  .images-container .box img:hover{
    transform: rotate(3deg) scale(1.1);
  }
  .images-container .box .caption h4{
    font-weight: normal;
    margin-bottom: 10px;
  }
  .images-container .box .caption p{
    color: var(--min-color);
    font-size: 10px;
  }
  .portoflio .more{
    /* display: flex;
    justify-content: center; */
    background-color: var(--min-color);
    display: block;
    width: fit-content;
    margin: 20px auto;
    color: white;
    padding: 15px;
    text-decoration: none;
    text-transform:uppercase;
  }
  /* end portoflio */
  /* start video */
  .video{
    position: relative;
  }
  .video::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(0 0 0 / 40%);
  }
  .video video{
    width: 100%;
  }
  .video .text{
    width: 100%;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    background-color: var(--transparent-color);
    text-align: center;
    padding: 50px;
    color: white;
  }
  .video .text h2{
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .video .text p{
    margin-bottom: 20px;
  }
  .video .text button{
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    text-transform: uppercase;
  }
  /* end video */
  /* start ABOUT */
  .about{
    margin-top: var(--section-padding);
    overflow: hidden;
    text-align: center;
  }
  .about img{
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;
  }
  @media(max-width:767px){
    .about img{
      bottom: -60px;
      margin-top: -60px;
    }
  }
  /* end ABOUT */
  /* start stats */
  .stats{
    margin-bottom: var(--section-padding);
    position: relative;
    background-image: url("../images/stats.png");
    background-size: cover;
    text-align: center;
  }
  .stats::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(0 0 0 / 70%);
  }
  .stats .container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
  .stats .container .box{
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
  }
  @media(max-width:767px){
    .stats .container .box{
      flex-basis: 100%;
      margin-top: 50px;
      margin-bottom: 50px;
    }
   
  }
  @media(min-width:768px){
    .stats .container .box{
      flex-basis: 50%;
    }
  }
  @media(min-width:992px){
    .stats .container .box{
      flex-basis: 25%;
      margin-top: 100px;
      margin-bottom: 100px;
    }
  }
  .stats .container .box i{
    width: 40px;
    height: 30px;
    display: flex;
    background: black;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
    border-radius: 50%;
  }
  .stats .container .box .number{
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 20px 0;
  }
  .stats .container .box p{
  font-size: 14px;
  }
  /* end stats */
  .our-skills{
    margin-top: var(--section-padding);
    margin-bottom: var(--section-padding);
  }
  .our-skills .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  @media(min-width:767px){
    .our-skills .container > div {
      flex-basis: 45%;
    }
  }
  .our-skills .container > div > h3{
  margin: 0 0 40px;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  }
  .our-skills .container > div > p{
    margin-bottom: 60px;
    line-height: 2;
    text-align: center;
    color: #777;
  }
  .our-skills .testimonials .content{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
  }
  .our-skills .testimonials .content img{
    width: 100px;
    border-radius: 50%;
    margin-right: 50px;
  }
  @media(max-width:767px){
    .our-skills .testimonials .content{
      flex-flow: column;
      text-align: center;
    }
    .our-skills .testimonials .content img{
      margin: 0 auto 20px;
    }
  }
  .our-skills .testimonials .content .text{
    line-height: 1.6;
    border-bottom: 1px solid #ccc;
}
  .our-skills .testimonials .content .text p{
    text-align: right;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .our-skills .testimonials .bullets{
    display: flex;
    justify-content: center;
  }
  .our-skills .testimonials .bullets li{
    border: 1px solid;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }
  .our-skills .testimonials .bullets li.active{
    background-color: var(--min-color);
    border-color: var(--min-color);
  }
  .our-skills .skills .prog-holder{
    margin-bottom: 40px;
  }
  .our-skills .skills .prog-holder h4{
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 10px;
  }
  .our-skills .skills .prog-holder .prog{
    background-color: #dedadc;
    height: 20px;
  }
  .our-skills .skills .prog-holder span{
    background-color: var(--min-color);
    height: 100%;
    display: block;
    position: relative;
  }
  .our-skills .skills .prog-holder span::after{
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color: rgb(0, 0, 0) transparent transparent;
    height: 0px;
    display: block;
    width: 0px;
    position: absolute;
    top: -10px;
    right: -8px;
  }
  .our-skills .skills .prog-holder span::before{
    content: attr(data-progress);
    position: absolute;
    top: -28px;
    right: -18px;
    background: black;
    color: white;
    padding: 0 4px;
    border-radius: 5px;
  }
  /* end skills */
  /* <!-- start Qout --> */
  .qout{
    margin-top: var(--section-padding);
    margin-bottom: var(--section-padding);
    background-image: url("../images/quote.jpg");
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
  }
  .qout::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(0 0 0 / 70%);
  }
  .qout .container{
    position: relative;
  }
  .qout .container q{
    display: block;
    font-size: 25px;
    padding: 30px;
  }
  /* <!-- end Qout --> */
  /* start pricing */
  .pricing{
    margin-top: var(--section-padding);
    margin-bottom: var(--section-padding);
  }
  .pricing .plans{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
   gap: 30px;
  }
  .pricing .plans .plan{
    text-align: center;
    background-color: #fefefecc;
}
  .pricing .plans .plan .head{
    padding: 40px 20px;
    border-bottom: 2px solid var(--min-color);
    border-top: 2px solid var(--min-color);
  }
  .pricing .plans .plan .head h3{
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .pricing .plans .plan .head span{
    font-size: 60px;
    font-weight: bold;
    position: relative;
  }
  .pricing .plans .plan .head span::before{
    content: "$";
    position: absolute;
    top: -10px;
    left: -10px;
    font-size: 30px;
  }
  .pricing .plans .plan .head span::after{
    content: "/MO";
    position: absolute;
    top: 50px;
    font-size: 30px;
  }
  .pricing .plans .plan ul{
    margin-top: 20px;
    border-bottom: 2px solid var(--min-color);
  }
  .pricing .plans .plan ul li{
    padding: 20px;
    position: relative;
  }
  /* @media(max-width:992px){
    .pricing .plans .plan{
      display: grid;
      grid-template-columns: repeat(auto-fill , minmax(450px , 1fr));
      gap: 20px;
    }
  } */
  .pricing .plans .plan ul li:not(:last-child)::after{
    content: "";
    width: 150px;
    height: 1px;
    background-color: var(--min-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.pricing .plans .plan .foot a{
  display: block;
  padding: 20px 20px;
  margin:30px auto;
  text-decoration: none;
  border: 1px solid var(--min-color);
  width: fit-content;
}
.pricing .contact-text{
  text-align: center;
  margin: 20px auto 20px;
  font-size: 20px;

}
  .pricing .contact-link{
    display: block;
    width: fit-content;
    margin: 20px auto;
    text-decoration: none;
    background-color: var(--min-color);
    padding: 10px 20px;
    color: white;
}
  /* end pricing */
  /* <!-- start subscribe --> */
  .subscribe{
    margin-top: var(--section-padding);
    margin-bottom: var(--section-padding);
    background-image: url("../images/subscribe.jpg");
    background-size: cover;
    position: relative;
    color: white;
  }
  .subscribe::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(0 0 0 / 50%);
  }
  .subscribe .container{
    position: relative;
    display: flex;
    align-items: center;
  }
  @media(max-width:991px){
    .subscribe .container{
      flex-direction: column;
    }
  }
  .subscribe .container form{
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;
    padding: 30px 0;
  }
  .subscribe .container form i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
  }
  .subscribe form input[type="email"]{
    border: 1px solid white;
    border-right: none;
    background: none;
    padding: 20px 20px 20px 60px;
    caret-color: var(--min-color);
    width: calc(100% - 130px);
  }
  .subscribe form input[type="submit"]{
    padding: 10px 20px;
    background: var(--min-color);
    border: 1px solid white;
    border-left: none;
    color: white;
    text-transform: uppercase;
  }
  .subscribe form ::placeholder{
    color: white;
  }
  .subscribe p{
    margin-left: 30px;
  }
  @media(max-width:991px){
    .subscribe p{
      padding: 20px
    }
  }
  /* <!-- end subscribe --> */
  /* start contact  */
  .contact{
    margin-top: var(--section-padding);
    margin-bottom: var(--section-padding);
  }
  .contact .content{
    display: flex;
    justify-content: space-between;
  }
  @media(max-width:767px){
    .contact .content{
      flex-direction: column;
    }
  }
  .contact .content form{
    flex-basis: 70%;
    
  }
  .contact .content form .main-input{
    padding: 20px;
    display: block;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 30px;
  }
  .contact .content form .main-input:focus{
    outline: none;
  }
  .contact .content form textarea.main-input{
    height: 200px;
  }
  .contact .content form input[type="submit"]{
    display: flex;
    margin-left: auto;
    padding: 20px;
    background-color: var(--min-color);
    color: white;
    border: none;
    cursor: pointer;
  }
  .contact .content .info{
    flex-basis: 25%;
  }
  @media(max-width:767px){
    .contact .content .info{
      order: -1;
      text-align: center;
    }
  }
  .contact .content .info h4{
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
  }
  .contact .content .info .phone{
    display: block;
    color: #777;
    margin-bottom: 10px;
  }
  .contact .content .info h4:nth-of-type(2){
    margin-top: 90px;
  }
  @media(max-width:767px){
    .contact .content .info h4:nth-of-type(2){
     margin-top: 30px;
    }
  }
  .contact .content .info address{
    color: #777;
    line-height: 2;
  }
  @media(max-width:767px){
    .contact .content .info address{
     margin-bottom: 30px;
    }
  }
  /* end contact  */
  /* start footer  */
  .footer{
    margin-top: calc(var(--section-padding) / 2);
    margin-bottom: calc(var(--section-padding) / 2);
    background-image: url("../images/subscribe.jpg");
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
  }
  .footer::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 70%);
  }
  .footer .container{
    position: relative;
    padding: 40px;
  }
  .footer img{
    margin-bottom: 20px;
  }
  .footer .container p:not(.copyright){
    text-transform: uppercase;
    font-size: 20px;
    padding: 20px;
    border-bottom: 1px solid white;
    width: fit-content;
    margin: 20px auto;
  }
  .footer .social-icons i{
    padding: 10px 15px;
  }
  .footer .copyright{
    margin-top: 60px;
  }
  .footer .copyright span{
    color: var(--min-color);
    font-weight: bold;
  }
  /* end footer  */